/* Badges, Row 1 */
#Boulder_Badge {
	background-image: url(./images/items/Boulder_Badge.png);
}
#Cascade_Badge {
	background-image: url(./images/items/Cascade_Badge.png);
}
#Thunder_Badge {
	background-image: url(./images/items/Thunder_Badge.png);
}
#Rainbow_Badge {
	background-image: url(./images/items/Rainbow_Badge.png);
}
#Soul_Badge {
	background-image: url(./images/items/Soul_Badge.png);
}
#Marsh_Badge {
	background-image: url(./images/items/Marsh_Badge.png);
}
#Volcano_Badge {
	background-image: url(./images/items/Volcano_Badge.png);
}
#Earth_Badge {
	background-image: url(./images/items/Earth_Badge.png);
}

/* HMs, Row 2 */
#HM01_Cut {
	background-image: url(./images/items/hm01.png);
}
#HM02_Fly {
	background-image: url(./images/items/hm02.png);
}
#HM03_Surf {
	background-image: url(./images/items/hm03.png);
}
#HM04_Strength {
	background-image: url(./images/items/hm04.png);
}
#HM05_Flash {
	background-image: url(./images/items/hm05.png);
}

/* Items, Row 3 */
#Oaks_Parcel {
	background-image: url(./images/items/Oaks_Parcel.png);
}
#Pokedex {
	background-image: url(./images/items/Pokedex.png);
}
#Dome_Fossil {
	background-image: url(./images/items/Dome_Fossil.png);
}
#Helix_Fossil {
	background-image: url(./images/items/Helix_Fossil.png);
}
#Old_Amber {
	background-image: url(./images/items/Old_Amber.png);
}
#SS_Ticket {
	background-image: url(./images/items/SS_Ticket.png);
}
#Bike_Voucher {
	background-image: url(./images/items/Bike_Voucher.png);
}
#Bicycle {
	background-image: url(./images/items/Bicycle.png);
}
#Item_Finder {
	background-image: url(./images/items/Item_Finder.png);
}
#Tea {
	background-image: url(./images/items/Tea.png);
}
#Lift_Key {
	background-image: url(./images/items/Lift_Key.png);
}
#Silph_Scope {
	background-image: url(./images/items/Silph_Scope.png);
}
#Poke_Flute {
	background-image: url(./images/items/Poke_Flute.png);
}
#Card_Key {
	background-image: url(./images/items/Card_Key.png);
}
#Gold_Teeth {
	background-image: url(./images/items/Gold_Teeth.png);
}
#Secret_Key {
	background-image: url(./images/items/Secret_Key.png);
}

/* Settings, not really items but similar enough */
#HIDDEN_ITEMS._0 {
	background-image: url(./images/settings/hidehidden.png);
}
#HIDDEN_ITEMS._1 {
	background-image: url(./images/settings/showhidden.png);
}
