/* Badges, Row 1 */
#Boulder_Badge {
	background-image: url(./images/items/Boulder_Badge.png);
}
#Cascade_Badge {
	background-image: url(./images/items/Cascade_Badge.png);
}
#Thunder_Badge {
	background-image: url(./images/items/Thunder_Badge.png);
}
#Rainbow_Badge {
	background-image: url(./images/items/Rainbow_Badge.png);
}
#Soul_Badge {
	background-image: url(./images/items/Soul_Badge.png);
}
#Marsh_Badge {
	background-image: url(./images/items/Marsh_Badge.png);
}
#Volcano_Badge {
	background-image: url(./images/items/Volcano_Badge.png);
}
#Earth_Badge {
	background-image: url(./images/items/Earth_Badge.png);
}

/* HMs, Row 2 */
#HM01_Cut {
	background-image: url(./images/items/hm01.png);
}
#HM02_Fly {
	background-image: url(./images/items/hm02.png);
}
#HM03_Surf {
	background-image: url(./images/items/hm03.png);
}
#HM04_Strength {
	background-image: url(./images/items/hm04.png);
}
#HM05_Flash {
	background-image: url(./images/items/hm05.png);
}

/* Items, Row 3 */
#Oaks_Parcel {
	background-image: url(./images/items/Oaks_Parcel.png);
}
#Pokedex {
	background-image: url(./images/items/Pokedex.png);
}
#Dome_Fossil {
	background-image: url(./images/items/Dome_Fossil.png);
}
#Helix_Fossil {
	background-image: url(./images/items/Helix_Fossil.png);
}
#Old_Amber {
	background-image: url(./images/items/Old_Amber.png);
}
#SS_Ticket {
	background-image: url(./images/items/SS_Ticket.png);
}
#Bike_Voucher {
	background-image: url(./images/items/Bike_Voucher.png);
}
#Bicycle {
	background-image: url(./images/items/Bicycle.png);
}
#Item_Finder {
	background-image: url(./images/items/Item_Finder.png);
}
#Tea {
	background-image: url(./images/items/Tea.png);
}
#Coin_Case {
	background-image: url(./images/items/Coin_Case.png);
}
#Lift_Key {
	background-image: url(./images/items/Lift_Key.png);
}
#Silph_Scope {
	background-image: url(./images/items/Silph_Scope.png);
}
#Poke_Flute {
	background-image: url(./images/items/Poke_Flute.png);
}
#Card_Key {
	background-image: url(./images/items/Card_Key.png);
}
#Gold_Teeth {
	background-image: url(./images/items/Gold_Teeth.png);
}
#Secret_Key {
	background-image: url(./images/items/Secret_Key.png);
}

/* Settings, not really items but similar enough */
#HIDDEN_ITEMS._0 {
	background-image: url(./images/settings/hidehidden.png);
}
#HIDDEN_ITEMS._1 {
	background-image: url(./images/settings/showhidden.png);
}

#ROUTE_3_CONDITION._0 {
	background-image: url(./images/settings/r3_0.png);
}
#ROUTE_3_CONDITION._1 {
	background-image: url(./images/settings/r3_1.png);
}
#ROUTE_3_CONDITION._2 {
	background-image: url(./images/settings/r3_2.png);
}
#ROUTE_3_CONDITION._3 {
	background-image: url(./images/settings/r3_3.png);
}
#ROUTE_3_CONDITION._4 {
	background-image: url(./images/settings/r3_4.png);
}

#FOSSILS_CONDITION._0 {
	background-image: url(./images/settings/fossil_0.png);
}
#FOSSILS_CONDITION._1 {
	background-image: url(./images/settings/fossil_1.png);
}
#FOSSILS_CONDITION._2 {
	background-image: url(./images/settings/fossil_2.png);
}
#FOSSILS_CONDITION._3 {
	background-image: url(./images/settings/fossil_3.png);
}

#VIRIDIAN_GYM_CONDITION._0 {
	background-image: url(./images/settings/vg_0.png);
}
#VIRIDIAN_GYM_CONDITION._1 {
	background-image: url(./images/settings/vg_1.png);
}
#VIRIDIAN_GYM_CONDITION._2 {
	background-image: url(./images/settings/vg_2.png);
}
#VIRIDIAN_GYM_CONDITION._3 {
	background-image: url(./images/settings/vg_3.png);
}
#VIRIDIAN_GYM_CONDITION._4 {
	background-image: url(./images/settings/vg_4.png);
}
#VIRIDIAN_GYM_CONDITION._5 {
	background-image: url(./images/settings/vg_5.png);
}
#VIRIDIAN_GYM_CONDITION._6 {
	background-image: url(./images/settings/vg_6.png);
}
#VIRIDIAN_GYM_CONDITION._7 {
	background-image: url(./images/settings/vg_7.png);
}
#VIRIDIAN_GYM_CONDITION._8 {
	background-image: url(./images/settings/vg_8.png);
}

#ROUTE_22_CONDITION._0 {
	background-image: url(./images/settings/r22_0.png);
}
#ROUTE_22_CONDITION._1 {
	background-image: url(./images/settings/r22_1.png);
}
#ROUTE_22_CONDITION._2 {
	background-image: url(./images/settings/r22_2.png);
}
#ROUTE_22_CONDITION._3 {
	background-image: url(./images/settings/r22_3.png);
}
#ROUTE_22_CONDITION._4 {
	background-image: url(./images/settings/r22_4.png);
}
#ROUTE_22_CONDITION._5 {
	background-image: url(./images/settings/r22_5.png);
}
#ROUTE_22_CONDITION._6 {
	background-image: url(./images/settings/r22_6.png);
}
#ROUTE_22_CONDITION._7 {
	background-image: url(./images/settings/r22_7.png);
}
#ROUTE_22_CONDITION._8 {
	background-image: url(./images/settings/r22_8.png);
}

#VICTORY_ROAD_CONDITION._0 {
	background-image: url(./images/settings/vr_0.png);
}
#VICTORY_ROAD_CONDITION._1 {
	background-image: url(./images/settings/vr_1.png);
}
#VICTORY_ROAD_CONDITION._2 {
	background-image: url(./images/settings/vr_2.png);
}
#VICTORY_ROAD_CONDITION._3 {
	background-image: url(./images/settings/vr_3.png);
}
#VICTORY_ROAD_CONDITION._4 {
	background-image: url(./images/settings/vr_4.png);
}
#VICTORY_ROAD_CONDITION._5 {
	background-image: url(./images/settings/vr_5.png);
}
#VICTORY_ROAD_CONDITION._6 {
	background-image: url(./images/settings/vr_6.png);
}
#VICTORY_ROAD_CONDITION._7 {
	background-image: url(./images/settings/vr_7.png);
}
#VICTORY_ROAD_CONDITION._8 {
	background-image: url(./images/settings/vr_8.png);
}

#ELITE_4_CONDITION._0 {
	background-image: url(./images/settings/e4_0.png);
}
#ELITE_4_CONDITION._1 {
	background-image: url(./images/settings/e4_1.png);
}
#ELITE_4_CONDITION._2 {
	background-image: url(./images/settings/e4_2.png);
}
#ELITE_4_CONDITION._3 {
	background-image: url(./images/settings/e4_3.png);
}
#ELITE_4_CONDITION._4 {
	background-image: url(./images/settings/e4_4.png);
}
#ELITE_4_CONDITION._5 {
	background-image: url(./images/settings/e4_5.png);
}
#ELITE_4_CONDITION._6 {
	background-image: url(./images/settings/e4_6.png);
}
#ELITE_4_CONDITION._7 {
	background-image: url(./images/settings/e4_7.png);
}
#ELITE_4_CONDITION._8 {
	background-image: url(./images/settings/e4_8.png);
}

#CERULEAN_CAVE_CONDITION._0 {
	background-image: url(./images/settings/cc_0.png);
}
#CERULEAN_CAVE_CONDITION._1 {
	background-image: url(./images/settings/cc_1.png);
}
#CERULEAN_CAVE_CONDITION._2 {
	background-image: url(./images/settings/cc_2.png);
}
#CERULEAN_CAVE_CONDITION._3 {
	background-image: url(./images/settings/cc_3.png);
}
#CERULEAN_CAVE_CONDITION._4 {
	background-image: url(./images/settings/cc_4.png);
}
#CERULEAN_CAVE_CONDITION._5 {
	background-image: url(./images/settings/cc_5.png);
}
#CERULEAN_CAVE_CONDITION._6 {
	background-image: url(./images/settings/cc_6.png);
}
#CERULEAN_CAVE_CONDITION._7 {
	background-image: url(./images/settings/cc_7.png);
}
#CERULEAN_CAVE_CONDITION._8 {
	background-image: url(./images/settings/cc_8.png);
}
