/*** Cities ***/
/*Pallet Town*/
#PC_Item {
	left: 16.529379461834157%;
	top: 66.51017214397497%;
}
#Event_Rivals_Sister {
	left: 18.872414424308985%;
	top: 66.51017214397497%;
}
#oaks_lab {
	left: 18.57953505399963%;
	top: 68.1794470526865%;
}
/*Viridian City*/
#Event_Sleepy_Guy {
	left: 13.893465129049972%;
	top: 51.382368283776735%;
}
#Event_Pokemart_Quest {
	left: 20.62969064616511%;
	top: 50.37384802643019%;
}
#viridian_gym {
	left: 21.50832875709317%;
	top: 47.03529820900713%;
}
/*Pewter City*/
#Event_Museum {
	left: 17.700896943071573%;
	top: 16.431924882629108%;
}
#pewter_gym {
	left: 16.82225883214351%;
	top: 19.770474700052166%;
}
/*Cerulean City*/
#Event_Bicycle_Shop {
	left: 68.66190737689914%;
	top: 16.98834985219962%;
}
#cerulean_gym {
	left: 73.64085667215815%;
	top: 15.31907494348809%;
}
#Event_Rocket_Thief {
	left: 73.64085667215815%;
	top: 12.258737610850288%;
}
#cerulean_cave {
	left: 66.02599304411495%;
	top: 13.093375065206052%;
}
/*Vermilion City*/
#Rod_Vermilion_City_Fishing_Guru {
	left: 66.90463115504302%;
	top: 50.930272996000696%;
}
#Event_Pokemon_Fan_Club {
	left: 67.49038989566172%;
	top: 53.712397843853246%;
}
#vermillion_gym {
	left: 68.36902800658979%;
	top: 55.381672752564775%;
}
#ss_anne {
	left: 70.27274391360058%;
	top: 60.37210919840028%;
}
/*Lavender Town*/
#Event_Fuji {
	left: 95.02105070474099%;
	top: 35.90679881759694%;
}
#pokemon_tower {
	left: 98.24272377814387%;
	top: 33.6810989393149%;
}
/*Celadon City*/
#Event_Mansion_Lady {
	left: 51.382024528647264%;
	top: 32.568249000173886%;
}
#Event_Stranded_Man {
	left: 50.796265788028556%;
	top: 34.49834811337159%;
}
#celadon_department_store {
	left: 47.28171334431631%;
	top: 33.6810989393149%;
}
#Event_Gambling_Addict {
	left: 53.43218012081274%;
	top: 37.57607372630847%;
}
#celadon_gym {
	left: 47.86747208493502%;
	top: 37.57607372630847%;
}
#celadon_game_corner_rocket_hideout {
	left: 52.55354200988467%;
	top: 35.35037384802643%;
}
/*Saffron City*/
#silph_co {
	left: 70.1263042284459%;
	top: 35.90679881759694%;
}
#Event_Copycat {
	left: 66.90463115504302%;
	top: 31.455399061032864%;
}
#Event_Mr_Psychic {
	left: 73.3479773018488%;
	top: 38.13249869587898%;
}
#saffron_gym {
	left: 74.81237415339557%;
	top: 30.898974091462357%;
}
/*Fuchsia City*/
#Rod_Fuchsia_City_Fishing_Brother {
	left: 56.36097382390628%;
	top: 82.64649626151974%;
}
#wardens_house {
	left: 55.18945634266886%;
	top: 82.64649626151974%;
}
#fuchsia_gym {
	left: 48.746110195863075%;
	top: 82.64649626151974%;
}
#safari_zone {
	left: 52.34806629834254%;
	top: 75.77693370165746%;
}
#Missable_Safari_Zone_Center_Item {
	left: 52.55354200988467%;
	top: 70.57902973395932%;
}
#Missable_Safari_Zone_East_Item_3 {
	left: 63.18872414424309%;
	top: 68.05772909059294%;
}
#Missable_Safari_Zone_East_Item_4 {
	left: 61.76093721398499%;
	top: 67.77951660580769%;
}
#Missable_Safari_Zone_East_Item_2 {
	left: 58.209774848984075%;
	top: 66.38845418188141%;
}
#Missable_Safari_Zone_East_Item_1 {
	left: 63.48160351455244%;
	top: 67.22309163623717%;
}
#Missable_Safari_Zone_West_Item_3 {
	left: 44.86545853926414%;
	top: 69.48356807511738%;
}
#Missable_Safari_Zone_West_Item_1 {
	left: 41.9366648361706%;
	top: 70.03999304468789%;
}
#Missable_Safari_Zone_North_Item_2 {
	left: 50.411861614497525%;
	top: 56.63362893409842%;
}
#Missable_Safari_Zone_North_Item_1 {
	left: 52.16913783635365%;
	top: 54.96435402538689%;
}
#Missable_Safari_Zone_West_Item_4 {
	left: 45.121727988284825%;
	top: 66.42323074247957%;
}
#Missable_Safari_Zone_West_Item_2 {
	left: 42.22954420647996%;
	top: 66.42323074247957%;
}
#Event_Safari_Zone_Secret_House {
	left: 40.472267984623834%;
	top: 65.37993392453487%;
}
/*Cinnabar Island*/
#Event_Lab_Scientist {
	left: 16.82225883214351%;
	top: 97.66997043992349%;
}
#cinnabar_gym {
	left: 20.336811275855755%;
	top: 96.00069553121196%;
}
#pokemon_mansion {
	left: 16.82225883214351%;
	top: 96.00069553121196%;
}
/*** Routes ***/
/*1*/
#Event_Free_Sample {
	left: 16.529379461834157%;
	top: 62.02399582681273%;
}
/*2*/
#Event_Route_2_Oaks_Aide {
	left: 19.458173164927693%;
	top: 35.90679881759694%;
}
#Missable_Route_2_Item_1 {
	left: 18.872414424308985%;
	top: 40.045209528777605%;
}
#Missable_Route_2_Item_2 {
	left: 18.872414424308985%;
	top: 37.50652060511216%;
}
#viridian_forest {
	left: 15.94362072121545%;
	top: 37.01964875673796%;
}
/*4*/
#mt_moon {
	left: 43.76716090060406%;
	top: 13.649800034776561%;
}
#Missable_Route_4_Item {
	left: 55.18945634266886%;
	top: 13.023821944009738%;
}
/*9*/
#Missable_Route_9_Item {
	left: 79.5350539996339%;
	top: 16.39714832203095%;
}
#Hidden_Item_Route_9 {
	left: 80.6516565989383%;
	top: 14.241001564945227%;
}
/*10*/
#power_plant {
	left: 95.89968881566904%;
	top: 23.109024517475223%;
}
#rock_tunnel {
	left: 96.48544755628775%;
	top: 16.98834985219962%;
}
#Hidden_Item_Route_10_1 {
	left: 96.7783269265971%;
	top: 17.336115458181187%;
}
#Hidden_Item_Route_10_2 {
	left: 98.81017755811824%;
	top: 27.038775865066945%;
}
/*11*/
#Event_Rt11_Oaks_Aide {
	left: 92.23869668680211%;
	top: 54.52964701790993%;
}
/*12*/
#Rod_Route12_Fishing_Brother {
	left: 97.36408566721582%;
	top: 58.72022256998783%;
}
#Event_Mourning_Girl {
	left: 97.07120629690645%;
	top: 43.140323422013566%;
}
#Missable_Route_12_Item_1 {
	left: 98.24272377814387%;
	top: 47.00052164840898%;
}
#Missable_Route_12_Item_2 {
	left: 95.60680944535969%;
	top: 62.02399582681273%;
}
/*15*/
#Event_Rt_15_Oaks_Aide {
	left: 62.072121544938675%;
	top: 79.56877064858286%;
}
#Missable_Route_15_Item {
	left: 64.26871682225882%;
	top: 78.71674491392801%;
}
/*16*/
#Event_Rt16_House_Woman {
	left: 34.68790042101409%;
	top: 33.6810989393149%;
}
/*23*/
#victory_road {
	left: 1.610836536701446%;
	top: 15.892888193357678%;
}
/*24*/
#Event_Nugget_Bridge {
	left: 71.00494233937397%;
	top: 4.155798991479743%;
}
#Missable_Route_24_Item {
	left: 70.74867289035328%;
	top: 1.3736741436271953%;
}
/*25*/
#bills_house {
	left: 86.82042833607908%;
	top: 0.8520257346548427%;
}
#Missable_Route_25_Item {
	left: 80.08420281896393%;
	top: 0.5390366892714311%;
}
#Hidden_Item_Route_25_1 {
	left: 84.7702727439136%;
	top: 0.8868022952529995%;
}